/* set variables */
:root {
	--background-color: #151515; 
	--text-color: #ffeedd;
	--h1-color: #fda553;
	--h2-color: #ffa500;
	--h3-color: #ffa500;
	--primary-color: purple;
}

/* dark mode colours */
@media (prefers-color-scheme: light) {
	:root { 
		--background-color: #fff; 
		--text-color: #111;
		--primary-color: cornflowerblue;
		--h1-color: #fda553;
		--h2-color: #ffa500;
		--h3-color: #ffa500;
		--primary-color: purple;
	}
}


body {

    background-color: var(--background-color);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 14 px;
}

h1 {
    color: var(--h1-color);
    /* text-shadow: 2px 2px black; */
    font-family: serif;
    font-size: 16 px;
    text-align: center;
}

h2 {
    color: var(--h2-color);
    /* text-shadow: 1px 1px black; */
    font-family: serif;
}

.h2 {
	color: var(--h2-color);
	margin-left: 0px;
	margin-right: 0px;
}

.h3 {
	color: var(--h3-color);
	margin-left: 0px;
	margin-right: 0px;
}

h3 {
    color: var(--h3-color);
    font-family: serif;
}

p, code, q {
    color: var(--text-color);
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

/* For Tables */
li, ul, ol, table, th {
    color: var(--text-color);
    /* margin-left: 20px; */  
    /* margin-right: 20px;*/ 
    text-align: left;
    /* border-spacing: 10px 10px; */
    font-weight: normal;
}

/* Underline Table Headers */
.header {
    text-decoration: underline;
}

tr {
    border-bottom: 1px solid #ffffff;
}

tr:hover {
    background-color: #232323; 
}

.italic {
    text-decoration: italic ; /* maybe find a better decoration? */
}
    
/* Headers and Footers */
header, footer {
    text-align: center;
}

.footer {
    text-align: center;
}

/* Hyperlinks */
a {
    color: #add8e6;
}

a:active {
    color: #e6adbc;
}

a:focus {
    color: #e6adbc;
}

a:visited {
    color: #e6add8;
}

/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: #151515; 
}

.dropdown {
    float: left;
    overflow: hidden;
}

.navbar a {
    float: left;
    /* font-size: 16px ; */
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    /* font-size: 16px; */
    border: 2px solid var(--accent);
    border-radius: 0.5em;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffa500;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffeedd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none; 
    background-color: #181818; /* bg */
    padding: 12px 16px;
    text-decoration: none; 
    display: block; 
    text-align: left; 
}

.dropdown-content a:hover {
    background-color: #303030; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}
